.main__content{
	display: flex;
	flex-direction: row;
	justify-content:end;
	margin-top: 94px;
}
.content__photodairy{
	max-width: 660px;
}
.left__side{
	margin:0 300px 0 0;
	max-width: 660px;

}
.sidebar__wrapper {
	font-family: "Playfair Display";
	position: absolute;
	margin-left: 50px;
	max-width: 272px;
}
.sidebar__wrapper.fixed {
	position: fixed;
 }
.sidebar__image {
	width: 100%;
	object-fit: cover;
}
.sidebar__about-me {
	margin-top: 28px;
}
.sidebar__title {
	font-size: 24px;
	line-height: 0.83;
	color: #626262;

}
.sidebar__discription {
	margin-top: 25px;
	color: #626262;
}
.sidebar__social-icons {
	margin-top: 23px;

}

.sidebar-top-posts {
	margin-top: 75px;
}
.top-posts-title {
	font-family: "Ubuntu";
	color: #b4ad9e;
}
ul.top-posts-list {
	margin-top: 35px;
}
.list-item{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.list-item-title::before {
	content: '';
	background-color: #b4ad9e;
	border-radius: 50%;
	display: inline-block;
	width: 5px;
	height: 5px;
	top: 10px;
	left: 0;
	margin-right: 20px;
}
.list-item:not(:first-child){
	margin-top: 19px;
}
.list-item-title {
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #626262;
}

.list-tem-count-of-comments {
	margin: 14px 0 0 20px;
	font-family: "Ubuntu";
	color: #b4ad9e;

}
.sidebar__banner {
	margin-top: 45px;
	max-width: 250px;
	overflow: hidden;
}